<!DOCTYPE HTML>
<html>
	<head>
		<title>Pulkit Kumar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}" />
		<link rel="shortcut icon" href="{{url_for('.static', filename='Images/favicon.ico')}}" type="image/x-icon"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<noscript><link rel="stylesheet" href="{{url_for('.static', filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span style="font-size: 40px;">ℙ</span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Pulkit Kumar</h1>
								<p>A scientist, Surgeon, Inventor, Entrepreneur and a music composer. &nbsp 
									<br />
									&nbsp most known for his work from 2012 - 2014
								</p>
								<P>
									Get in touch with me through <a href="mailto:workforpulkit@gmail.com">email</a>
								</P>
								<ul class="icons">
									<li>
										<a href="https://twitter.com/Positivepulkit" class="icon brands fa-twitter">
											<span class="label">Twitter</span>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/positivepulkit/" class="icon brands fa-instagram">
											<span class="label">Instagram</span>
										</a>
									</li>
									<li>
										<a href="https://m.youtube.com/channel/UCNU5rQVqmp3ujLsue_NyUPg" class="icon brands fa-youtube">
											<span class="label">YouTube</span>
										</a>
									</li>
									<li>
										<a href="https://m.facebook.com/positivepulkit?ref=bookmarks" class="icon brands fa-facebook-f">
											<span class="label">FaceBook</span>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/pulkit-kumar-646a68143/" class="fa fa-linkedin">
										</a>
									</li>
								</ul>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Career</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Introduction</h2>
								<span class="image main"><img src="{{url_for('.static', filename='Images/2022-04-20_16-56.png')}}" alt="Pulkit Kumar" /></span>
								<p>Pulkit Kumar (born 16 August 1999) is an Indian-American scientist and inventor. Mr.Kumar is best known for his discoveries in the field of medicine, precisely on MDD and cancer research. His <a href="#work">manuscripts</a> are among the most read manuscripts in the world, with almost 2 million reads ( 2.2 million reads as of now).</p>
								<p>Mr.Kumar is the founder of UofA Cancer Society, a research and fundraising organization for Cancer patients.</p>
								<p></p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Career</h2>
								<span class="image main"><img src="{{url_for('.static', filename='Images/dg4TnOWe_400x400.jpg')}}" alt="Pulkit Kumar 2" /></span>
								<p>During his first year of college, in 2018, Kumar was diagnosed with clinical depression. After he recovered, Kumar started a job shadowing a psychiatrist, where he would witness different types of patients (mostly teens and young adults) struggling with mental health. After noticing the side effects of the antidepressant pills used to maintain homeostasis, Kumar decided to do his first research on Major Depressive Disorders (MDD) with his friend Dhaniket Patel. In this <a href="https://www.researchgate.net/publication/348694635_Can_traditional_paths_such_as_ashwagandha_be_beneficial_for_treating_Depression">paper</a>, they highlighted the effectiveness of Withania Somnifera.</p>
								<p>In 2020, Kumar and Patel opened the UofA Cancer Society aiming to help fund cancer research and promote new ideas about treating cancer. In the same year, they published another <a href="https://www.researchgate.net/publication/348694393_Ocimum_Sanctum_An_All-Round_Treatment_for_Cancer">paper</a> on the effectiveness of different chemicals present in Ocimum Sanctum and their mechanism of action in different types of cancer. By the end of 2020, Kumar’s organization raised over $50,000 which was given to cancer research and frontline workers.</p>
								<p>As of 2021, Kumar is focusing on nanotechnology and its application and how to reduce carbon emissions, control climate change and sustain a better life. He is also keenly interested in reducing the net carbon dioxide waste from industries.</p>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="{{url_for('.static', filename='Images/2022-04-21_05-23.png')}}" alt="" /></span>
								<p>Kumar was born on August 16, 1999, in Mandi Gobindgarh, a city in Punjab, India. He studied till third grade in Rosary Sr. Sec. School in New Delhi. Later, his family moved to the United States, where he completed his further education. As of 2021, Kumar is studying at the University of Alberta.</p>
								<p>Kumar is an avid classical singer and has been featured in a few musical films. He is fluent in English, Hindi and Spanish.</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form action="https://formsubmit.co/mikey.ryan321@gmail.com" method="post">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="cf_name" id="name" placeholder="First and Last" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="hidden" name="_subject" value="New email from website viewer">
											<input type="email" name="cf_email" id="email" placeholder="email@domain.tld" required />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="cf_message" rows="4" placeholder="Hello!"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
							</article>

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
									<h4>Preformatted</h4>
									<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
										<li><a href="#" class="button icon solid fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field half">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>

							</article>

					</div>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/browser.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>
